TestConsole/Service References/ServiceReference1/SecureWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidUser">
        <s:complexType />
      </s:element>
      <s:element name="ValidUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidUser" />
  </wsdl:message>
  <wsdl:message name="ValidUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="ValidUserAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:portType name="SecureWebServiceSoap">
    <wsdl:operation name="ValidUser">
      <wsdl:input message="tns:ValidUserSoapIn" />
      <wsdl:output message="tns:ValidUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecureWebServiceSoap" type="tns:SecureWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidUser">
      <soap:operation soapAction="http://tempuri.org/ValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidUserAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecureWebServiceSoap12" type="tns:SecureWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidUser">
      <soap12:operation soapAction="http://tempuri.org/ValidUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidUserAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecureWebService">
    <wsdl:port name="SecureWebServiceSoap" binding="tns:SecureWebServiceSoap">
      <soap:address location="http://localhost:54025/SecureWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SecureWebServiceSoap12" binding="tns:SecureWebServiceSoap12">
      <soap12:address location="http://localhost:54025/SecureWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>